.calculadora {
    margin-top: 40px;
    border: solid 1px #000;
    padding: 20px;
    background-color: #2E2E2E;
    border-radius: 1px;
    box-shadow: 1px 1px 5px #000;
  }

  .btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    box-shadow: 1px 1px 1px #000;
  }

  .clear {
    width: 130px;
  }

  .enter {
    height: 110px;
  }

  .zero {
    width: 130px;
  }

  .resultado {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
  }